params {
    reference = "path/to/reference"
    input = "input"
    capture_targets_bed = "/path/to/bed"
    primary_tatrgets_bed = "/path/to/bed"
    bait_interval_list = "/path/to/list"
    gold_standard_vcf = "/path/to/vcf"
    high_confidence_regions_bed = "path/to/bed"
    happy = false
}

docker {
    enabled = true
}